<div class="card">


  <h1>Descripción</h1>
  <table class="table">
    <thead>
      <tr>
      <th>Descripción</th>
      <th>Completado</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
      <th> </th>
      <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
    <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.description %></td>
      <td><%= todo.completed %></td>
      <td><%= link_to 'Show', todo_path(todo) %></td>
      <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
      <td><%= link_to 'Destroy', todo, method: :delete %></td>
      <td><%= link_to 'Completed'  %></td>
    </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= link_to 'Crear ToDo', new_todo_path %>
